@model Quanlynhansu.Models.VITRITUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VITRITUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENVTTD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENVTTD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YEUCAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YEUCAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAVTTD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
